@model IEnumerable<FlightData.Flight>

@{
    ViewBag.Title = "DisplayFlight";
}
<head>
    <style>        #table {
            border:dotted;
            border-spacing:10px;
        } </style>
</head>
<h2>DisplayFlight ViewData</h2>
@Html.ActionLink("AddFlight","AddFlight")
@if(TempData["message"]!=null)
{
    @Html.Label((string)TempData["message"])
}
<table class="table">
    @foreach(FlightData.Flight item in @Model)
    {
        <tr>
            <td>
                @item.Flight_Id
            </td>
            <td>
                @item.Flight_Name
            </td>
            <td>
                @item.Flight_Number
            </td>
            <td>
                @item.Flight_Amount
            </td>
            <td>
                @Html.ActionLink("EditFlight", "EditFlight", new { FlightId = item.Flight_Id })
                @Html.ActionLink("Delete Flight", "DeleteFlight", new { FlightId = item.Flight_Id })
            </td>
        </tr>
    }
</table>

